# Supabase Configuration
SUPABASE_URL=https://ipvuyrsrsqbypcwowzxsl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwdnV5c3JzcWJ5cGN3b3Z6eHNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NTI4OTgsImV4cCI6MjA4OTAyODg5OH0.y-N3MCr-aNeWniWoh8ZL3nN_uG1YfK6dae0RJlDaXK4

# Server Configuration
PORT=3001
NODE_ENV=development
